body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    gap: 20px;
    background-color: lightblue;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: fit-content;
    height: 100px;
    padding: 10px;
    font-size: 30px;
}
button{
    padding: 10px;
    font-size: 20px;
    background-color: lightcoral;
}